.Rproj.user/**
.snakemake/**
.stfolder/**
.tmp.driveupload/**
benchmarks/**
logs/**
slurm/**
*.Rhistory
.stignore
*.html
results/**
data/**
code/OligoArrayAux/**
code/sync_conflicts/**
code/results/**
code/fastspar_bin/**
concrete_Snakefile